# Build Folders
bin/
obj/

# User-specific files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# NuGet Packages
*.nupkg
packages/
.nuget/

# ASP.NET Core
appsettings.Development.json
appsettings.Local.json
appsettings.*.json

.fake